In [52]:
# Dependencies
import pandas as pd
from sqlalchemy import create_engine

In [53]:
# Store filepath in a variable
goodreads_csv = 'Output/paul.csv'
amazon_csv = 'Output/2019_Amazon-Best-Sellers_FullTable_AuthorNamesSplit.csv'
nyt_csv = 'Output/nyt-api-update.csv'

In [54]:
# Read our Data file with the pandas library
goodreads_orig = pd.read_csv(goodreads_csv, encoding='ISO-8859-1')
amazon_orig = pd.read_csv(amazon_csv, encoding='ISO-8859-1')
nyt_orig = pd.read_csv(nyt_csv, encoding='ISO-8859-1')
nyt_orig.head(60)

,Title,First,Last,Date,Rank,Year
0,21 LESSONS FOR THE 21ST CENTURY,Yuval Noah,Harari,2019-12-07,15,2019
1,21 LESSONS FOR THE 21ST CENTURY,Yuval Noah,Harari,2019-09-28,12,2019
2,21 LESSONS FOR THE 21ST CENTURY,Yuval Noah,Harari,2019-09-21,10,2019
3,21 LESSONS FOR THE 21ST CENTURY,Yuval Noah,Harari,2019-09-14,15,2019
4,21 LESSONS FOR THE 21ST CENTURY,Yuval Noah,Harari,2019-09-07,9,2019
5,21 LESSONS FOR THE 21ST CENTURY,Yuval Noah,Harari,2019-08-31,13,2019
6,21 LESSONS FOR THE 21ST CENTURY,Yuval Noah,Harari,2019-08-31,9,2019
7,21 LESSONS FOR THE 21ST CENTURY,Yuval Noah,Harari,2019-08-24,6,2019
8,21 LESSONS FOR THE 21ST CENTURY,Yuval Noah,Harari,2019-03-02,5,2019
9,21 LESSONS FOR THE 21ST CENTURY,Yuval Noah,Harari,2019-03-02,13,2019
10,7-DAY APPLE CIDER VINEGAR CLEANSE,JJ,Smith,2019-12-28,7,2019
11,A BEAUTIFUL DAY IN THE NEIGHBORHOOD,Fred,Rogers,2019-12-28,9,2019
12,A BEAUTIFUL DAY IN THE NEIGHBORHOOD,Fred,Rogers,2019-12-21,7,2019
13,A BEAUTIFUL DAY IN THE NEIGHBORHOOD,Fred,Rogers,2019-12-14,10,2019
14,A BEAUTIFUL DAY IN THE NEIGHBORHOOD,Fred,Rogers,2019-12-07,9,2019
15,A BEAUTIFUL DAY IN THE NEIGHBORHOOD,Fred,Rogers,2019-11-30,7,2019
16,A BEAUTIFUL DAY IN THE NEIGHBORHOOD,Fred,Rogers,2019-11-23,10,2019
17,A BEAUTIFUL DAY IN THE NEIGHBORHOOD,Fred,Rogers,2019-11-16,9,2019
18,A BEAUTIFUL DAY IN THE NEIGHBORHOOD,Fred,Rogers,2019-11-09,8,2019
19,A BEAUTIFUL DAY IN THE NEIGHBORHOOD,Fred,Rogers,2019-09-28,10,2019
20,A BEAUTIFUL DAY IN THE NEIGHBORHOOD,Fred,Rogers,2019-09-21,10,2019
21,A BEAUTIFUL DAY IN THE NEIGHBORHOOD,Fred,Rogers,2019-09-14,8,2019
22,A BEAUTIFUL DAY IN THE NEIGHBORHOOD,Fred,Rogers,2019-08-31,8,2019
23,A BEAUTIFUL DAY IN THE NEIGHBORHOOD,Fred,Rogers,2019-08-24,7,2019
24,A BEAUTIFUL DAY IN THE NEIGHBORHOOD,Fred,Rogers,2019-08-17,6,2019
25,A BEAUTIFUL DAY IN THE NEIGHBORHOOD,Fred,Rogers,2019-08-10,8,2019
26,A BEAUTIFUL DAY IN THE NEIGHBORHOOD,Fred,Rogers,2019-08-03,7,2019
27,A BEAUTIFUL DAY IN THE NEIGHBORHOOD,Fred,Rogers,2019-07-27,7,2019
28,A BEAUTIFUL DAY IN THE NEIGHBORHOOD,Fred,Rogers,2019-07-20,6,2019
29,A BEAUTIFUL DAY IN THE NEIGHBORHOOD,Fred,Rogers,2019-07-13,8,2019
30,A BEAUTIFUL DAY IN THE NEIGHBORHOOD,Fred,Rogers,2019-07-06,10,2019
31,A BETTER MAN,Louise,Penny,2019-09-28,15,2019
32,A BETTER MAN,Louise,Penny,2019-09-21,10,2019
33,A BETTER MAN,Louise,Penny,2019-09-14,9,2019
34,A BETTER MAN,Louise,Penny,2019-09-14,13,2019
35,A BETTER MAN,Louise,Penny,2019-09-07,5,2019
36,A BETTER MAN,Louise,Penny,2019-09-07,4,2019
37,A BETTER MAN,Louise,Penny,2019-08-31,11,2019
38,A BETTER MAN,Louise,Penny,2019-08-31,1,2019
39,A BETTER MAN,Louise,Penny,2019-08-31,1,2019
40,A CLASH OF KINGS,George RR,Martin,2019-06-29,6,2019
41,A CLASH OF KINGS,George RR,Martin,2019-06-01,4,2019
42,A CLASH OF KINGS,George RR,Martin,2019-04-27,10,2019
43,A COLUMN OF FIRE,Ken,Follett,2019-09-28,12,2019
44,A CURSE SO DARK AND LONELY,Brigid,Kemmerer,2019-02-02,7,2019
45,A DANGEROUS MAN,Robert,Crais,2019-08-17,14,2019
46,A DANGEROUS MAN,Robert,Crais,2019-08-10,7,2019
47,A DANGEROUS MAN,Robert,Crais,2019-08-10,4,2019
48,A DELICATE TOUCH,Stuart,Woods,2019-01-05,9,2019
49,A DELICATE TOUCH,Stuart,Woods,2019-01-05,5,2019
50,A DISCOVERY OF WITCHES,Deborah,Harkness,2019-03-02,12,2019
51,A DISCOVERY OF WITCHES,Deborah,Harkness,2019-01-26,15,2019
52,A DOG'S JOURNEY,W Bruce,Cameron,2019-05-18,14,2019
53,A DOG'S JOURNEY,W Bruce,Cameron,2019-05-11,12,2019
54,A DOG'S JOURNEY,W Bruce,Cameron,2019-05-04,14,2019
55,A DOG'S JOURNEY,W Bruce,Cameron,2019-04-20,15,2019
56,A DOG'S WAY HOME,W Bruce,Cameron,2019-04-06,12,2019
57,A DOG'S WAY HOME,W Bruce,Cameron,2019-02-16,9,2019
58,A DOG'S WAY HOME,W Bruce,Cameron,2019-02-09,11,2019
59,A DOG'S WAY HOME,W Bruce,Cameron,2019-02-02,7,2019

In [55]:
# get only relevant columns from nyt and rename columns
nyt = nyt_orig[['Title', 'First', 'Last', 'Rank']]
nyt['source'] ='New York Times'
nyt = nyt.rename(columns={'Rank': 'Rating'})
nyt.head()

C:\Users\blbst\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,Title,First,Last,Rating,source
0,21 LESSONS FOR THE 21ST CENTURY,Yuval Noah,Harari,15,New York Times
1,21 LESSONS FOR THE 21ST CENTURY,Yuval Noah,Harari,12,New York Times
2,21 LESSONS FOR THE 21ST CENTURY,Yuval Noah,Harari,10,New York Times
3,21 LESSONS FOR THE 21ST CENTURY,Yuval Noah,Harari,15,New York Times
4,21 LESSONS FOR THE 21ST CENTURY,Yuval Noah,Harari,9,New York Times

In [56]:
# get only relevant columns from amazon and rename columns
amazon = amazon_orig[['Book_Title', 'First', 'Last','UserRating']]
amazon['source'] = 'Amazon'
amazon = amazon.rename(columns={'Book_Title': 'Title', 'UserRating': 'Rating'})
amazon.head()

C:\Users\blbst\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,Title,First,Last,Rating,source
0,"Brown Bear, Brown Bear, What Do You See?",Bill,Martin Jr.,4.9,Amazon
1,Dog Man: Brawl of the Wild: From the Creator o...,Dav,Pilkey,4.9,Amazon
2,Dog Man: Fetch-22: From the Creator of Captain...,Dav,Pilkey,4.9,Amazon
3,Dog Man: For Whom the Ball Rolls: From the Cre...,Dav,Pilkey,4.9,Amazon
4,Giraffes Can't Dance,Giles,Andreae,4.8,Amazon

In [57]:
# preserve original dataframe, then split the author name.  Grab only relevant columns
goodreads = goodreads_orig.copy()
# Added dash to name to assist with splitting first and last
goodreads.at[3,'Author'] = 'Mary-Beth Keane'
goodreads[['First','Last']] = goodreads.Author.str.split(expand=True)
goodreads_drop = goodreads[['Title', 'First', 'Last', 'Rating']]
goodreads_drop['source'] = 'Goodreads'
goodreads.head()

,Title,Author,Rating,First,Last
0,The Testaments,Margaret Atwood,4.20,Margaret,Atwood
1,Normal People,Sally Rooney,3.86,Sally,Rooney
2,Where the Forest Meets the Stars,Glendy Vanderah,4.12,Glendy,Vanderah
3,"Ask Again, Yes",Mary-Beth Keane,3.97,Mary-Beth,Keane
4,Queenie,Candice Carty-Williams,3.88,Candice,Carty-Williams

In [58]:
# Add two dataframes together
total = goodreads_drop.copy()
total = total.append(amazon)
total = total.append(nyt)
total.head(60)

,Title,First,Last,Rating,source
0,The Testaments,Margaret,Atwood,4.20,Goodreads
1,Normal People,Sally,Rooney,3.86,Goodreads
2,Where the Forest Meets the Stars,Glendy,Vanderah,4.12,Goodreads
3,"Ask Again, Yes",Mary-Beth,Keane,3.97,Goodreads
4,Queenie,Candice,Carty-Williams,3.88,Goodreads
5,On Earth We're Briefly Gorgeous,Ocean,Vuong,4.04,Goodreads
6,A Woman Is No Man,Etaf,Rum,4.25,Goodreads
7,The Overdue Life of Amy Byler,Kelly,Harms,3.82,Goodreads
8,"Olive, Again",Elizabeth,Strout,4.11,Goodreads
9,The Most Fun We Ever Had,Claire,Lombardo,3.96,Goodreads
10,The Bookish Life of Nina Hill,Abbi,Waxman,3.83,Goodreads
11,The Last Romantics,Tara,Conklin,3.74,Goodreads
12,Red at the Bone,Jacqueline,Woodson,4.01,Goodreads
13,When All Is Said,Anne,Griffin,4.04,Goodreads
14,The Gifted School,Bruce,Holsinger,3.73,Goodreads
15,Fleishman Is in Trouble,Taffy,Brodesser-Akner,3.65,Goodreads
16,Find Me,AndrÃ©,Aciman,3.32,Goodreads
17,The Reckless Oath We Made,Bryn,Greenwood,4.00,Goodreads
18,"Girl, Woman, Other",Bernardine,Evaristo,4.40,Goodreads
19,Lanny,Max,Porter,4.06,Goodreads
0,"Brown Bear, Brown Bear, What Do You See?",Bill,Martin Jr.,4.90,Amazon
1,Dog Man: Brawl of the Wild: From the Creator o...,Dav,Pilkey,4.90,Amazon
2,Dog Man: Fetch-22: From the Creator of Captain...,Dav,Pilkey,4.90,Amazon
3,Dog Man: For Whom the Ball Rolls: From the Cre...,Dav,Pilkey,4.90,Amazon
4,Giraffes Can't Dance,Giles,Andreae,4.80,Amazon
5,Goodnight Moon,Margaret,Wise Brown,4.80,Amazon
6,Harry Potter and the Goblet of Fire: The Illus...,J. K.,Rowling,4.90,Amazon
7,If Animals Kissed Good Night,Ann,Whitford Paul,4.80,Amazon
8,"Oh, the Places You'll Go!",Dr.,Seuss,4.90,Amazon
9,Player's Handbook (Dungeons & Dragons),Wizards,RPG Team,4.80,Amazon
10,Strange Planet (Strange Planet Series),Nathan W.,Pyle,4.90,Amazon
11,The Guardians: A Novel,John,Grisham,4.50,Amazon
12,The Silent Patient,Alex,Michaelides,4.50,Amazon
13,The Very Hungry Caterpillar,Eric,Carle,4.90,Amazon
14,The Wonderful Things You Will Be,Emily,Winfield Martin,4.90,Amazon
15,The Wonky Donkey,Craig,Smith,4.80,Amazon
16,To Kill a Mockingbird,Harper,Lee,4.80,Amazon
17,What Should Danny Do? (The Power to Choose Ser...,Adir,Levy,4.80,Amazon
18,Where the Crawdads Sing,Delia,Owens,4.80,Amazon
19,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff,Kinney,4.90,Amazon
0,21 LESSONS FOR THE 21ST CENTURY,Yuval Noah,Harari,15.00,New York Times
1,21 LESSONS FOR THE 21ST CENTURY,Yuval Noah,Harari,12.00,New York Times
2,21 LESSONS FOR THE 21ST CENTURY,Yuval Noah,Harari,10.00,New York Times
3,21 LESSONS FOR THE 21ST CENTURY,Yuval Noah,Harari,15.00,New York Times
4,21 LESSONS FOR THE 21ST CENTURY,Yuval Noah,Harari,9.00,New York Times
5,21 LESSONS FOR THE 21ST CENTURY,Yuval Noah,Harari,13.00,New York Times
6,21 LESSONS FOR THE 21ST CENTURY,Yuval Noah,Harari,9.00,New York Times
7,21 LESSONS FOR THE 21ST CENTURY,Yuval Noah,Harari,6.00,New York Times
8,21 LESSONS FOR THE 21ST CENTURY,Yuval Noah,Harari,5.00,New York Times
9,21 LESSONS FOR THE 21ST CENTURY,Yuval Noah,Harari,13.00,New York Times
10,7-DAY APPLE CIDER VINEGAR CLEANSE,JJ,Smith,7.00,New York Times
11,A BEAUTIFUL DAY IN THE NEIGHBORHOOD,Fred,Rogers,9.00,New York Times
12,A BEAUTIFUL DAY IN THE NEIGHBORHOOD,Fred,Rogers,7.00,New York Times
13,A BEAUTIFUL DAY IN THE NEIGHBORHOOD,Fred,Rogers,10.00,New York Times
14,A BEAUTIFUL DAY IN THE NEIGHBORHOOD,Fred,Rogers,9.00,New York Times
15,A BEAUTIFUL DAY IN THE NEIGHBORHOOD,Fred,Rogers,7.00,New York Times
16,A BEAUTIFUL DAY IN THE NEIGHBORHOOD,Fred,Rogers,10.00,New York Times
17,A BEAUTIFUL DAY IN THE NEIGHBORHOOD,Fred,Rogers,9.00,New York Times
18,A BEAUTIFUL DAY IN THE NEIGHBORHOOD,Fred,Rogers,8.00,New York Times
19,A BEAUTIFUL DAY IN THE NEIGHBORHOOD,Fred,Rogers,10.00,New York Times

In [59]:
# create author table/dataframe using the index as a PK
author = pd.DataFrame(total.groupby(['Last','First']).count())
author = author.reset_index()
author_final = author[['First', 'Last']]
author_final = author_final.drop_duplicates()
author_final = author_final.reset_index()
author_final = author_final.rename(columns={'index': 'author_id', 'First': 'first_name', 'Last': 'last_name'})
author_final.head()

   author_id  first_name last_name
0          0     W Bruce   Cameron
1          1      Robert     Crais
2          2         Ben     Folds
3          3         Ken   Follett
4          4  Yuval Noah    Harari

In [60]:
# find the author's last name and replace with the author PK number
books = total.copy()

for name in author_final.index:
    books = books.replace(to_replace=author_final.iloc[name]['last_name'], value=author_final.loc[name]['author_id'])

# Finish finageling the books table/dataframe using the index as a PK
books_final = books[['Title', 'Last']]
books_final = books_final.reset_index(drop=True)
books_final = books_final.drop_duplicates()
books_final = books_final.reset_index()
books_final = books_final.rename(columns={'index': 'book_id', 'Title': 'title','Last': 'author_fk'})
books_final.head()

    book_id                                              title  author_fk
0         0                                     The Testaments         16
1         1                                      Normal People         45
2         2                   Where the Forest Meets the Stars         52
3         3                                     Ask Again, Yes         30
4         4                                            Queenie         20
5         5                    On Earth We're Briefly Gorgeous         53
6         6                                  A Woman Is No Man         47
7         7                      The Overdue Life of Amy Byler         28
8         8                                       Olive, Again         50
9         9                           The Most Fun We Ever Had         34
10       10                      The Bookish Life of Nina Hill         54
11       11                                 The Last Romantics         21
12       12                                    Red at the Bone         58
13       13                                   When All Is Said         26
14       14                                  The Gifted School         29
15       15                            Fleishman Is in Trouble         18
16       16                                            Find Me         14
17       17                          The Reckless Oath We Made         25
18       18                                 Girl, Woman, Other         24
19       19                                              Lanny         40
20       20           Brown Bear, Brown Bear, What Do You See?         35
21       21  Dog Man: Brawl of the Wild: From the Creator o...         39
22       22  Dog Man: Fetch-22: From the Creator of Captain...         39
23       23  Dog Man: For Whom the Ball Rolls: From the Cre...         39
24       24                               Giraffes Can't Dance         15
25       25                                     Goodnight Moon         57
26       26  Harry Potter and the Goblet of Fire: The Illus...         46
27       27                       If Animals Kissed Good Night         55
28       28                          Oh, the Places You'll Go!         48
29       29             Player's Handbook (Dungeons & Dragons)         42
30       30             Strange Planet (Strange Planet Series)         41
31       31                             The Guardians: A Novel         27
32       32                                 The Silent Patient         36
33       33                        The Very Hungry Caterpillar         19
34       34                   The Wonderful Things You Will Be         56
35       35                                   The Wonky Donkey         49
36       36                              To Kill a Mockingbird         32
37       37  What Should Danny Do? (The Power to Choose Ser...         33
38       38                            Where the Crawdads Sing         37
39       39       Wrecking Ball (Diary of a Wimpy Kid Book 14)         31
40       40                    21 LESSONS FOR THE 21ST CENTURY          4
41       50                  7-DAY APPLE CIDER VINEGAR CLEANSE         10
42       51                A BEAUTIFUL DAY IN THE NEIGHBORHOOD         44
43       71                                       A BETTER MAN          9
44       80                                   A CLASH OF KINGS          7
45       83                                   A COLUMN OF FIRE          3
46       84                         A CURSE SO DARK AND LONELY          6
47       85                                    A DANGEROUS MAN          1
48       88                                   A DELICATE TOUCH         12
49       90                             A DISCOVERY OF WITCHES          5
50       92                                    A DOG'S JOURNEY          0
51       96                                   A DOG'S WAY HOME          0
52      107                       A DREAM ABOUT LIGHTNING BUGS          2
53      109                                  A FEAST FOR CROWS          7
54      110                              A GENTLEMAN IN MOSCOW         51
55      121                                    A KILLER'S MIND          8
56      122                                    A LITTLE HATRED         13
57      124                               A MINUTE TO MIDNIGHT         17
58      131                               A PIGLET NAMED MERCY         23
59      134                         A SERIAL KILLER'S DAUGHTER         43

In [61]:
# Create source table/dataframe
source = pd.DataFrame()
source['source_name'] = ['Goodreads', 'Amazon','New York Times']
source['type'] = ['User Rating', 'User Rating', 'Bestseller']
source_final = source.reset_index()
source_final = source_final.rename(columns={'index': 'source_id'})

source_final.head()

   source_id     source_name         type
0          0       Goodreads  User Rating
1          1          Amazon  User Rating
2          2  New York Times   Bestseller

In [62]:
# Create review table/dataframe.  Replace source and title with ids
review = total.copy()
for name in source_final.index:
    review = review.replace(to_replace=source_final.iloc[name]['source_name'], value=source_final.loc[name]['source_id'])

for name in books_final.index:
     review = review.replace(to_replace=books_final.iloc[name]['title'], value=books_final.loc[name]['book_id'])
review_final = review[['Title', 'Rating', 'source']]
review_final = review_final.reset_index(drop=True)
review_final = review_final.reset_index()
review_final = review_final.rename(columns={'index': 'review_id','Title': 'book_fk','source': 'source_fk', 'Rating': 'rating'})
review_final.head()

   review_id  book_fk  rating  source_fk
0          0        0    4.20          0
1          1        1    3.86          0
2          2        2    4.12          0
3          3        3    3.97          0
4          4        4    3.88          0

In [63]:
# enter password for postgres
rds_connection_string = "postgres:postgres@localhost:5432/ETL_Project"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [64]:
# Add data to empty tables.
author_final.to_sql(name='author', con=engine, if_exists='append', index=False)
books_final.to_sql(name='book', con=engine, if_exists='append', index=False)
source_final.to_sql(name='source', con=engine, if_exists='append', index=False)
review_final.to_sql(name='review', con=engine, if_exists='append', index=False)