In [15]:
# Dependencies
import requests
from pprint import pprint
from pprint import pprint
import pandas as pd
import time

In [16]:
api_key = '8Pujhv0aTKviVykG2AorOUfKBG3H7GyT'

In [19]:
titles = []
authors = []
dates = []
ranks = []
offset = 0
offset_url = f"https://api.nytimes.com/svc/books/v3/lists/best-sellers/history.json?api-key={api_key}&offset={offset}"

print(offset_url)

https://api.nytimes.com/svc/books/v3/lists/best-sellers/history.json?api-key=8Pujhv0aTKviVykG2AorOUfKBG3H7GyT&offset=0

In [20]:
while offset <= 1000:
    articles = requests.get(f'{offset_url}{offset}').json()
    time.sleep(6)
    for book in articles['results']:
        title = book['title']
        author = book['author']
        for rank in range(0,len(book['ranks_history'])):
            date = book['ranks_history'][rank]['bestsellers_date']
            rank = book['ranks_history'][rank]['rank']
            titles.append(title)
            authors.append(author)
            dates.append(date)
            ranks.append(rank)
    offset = offset + 20
    print(offset)

20
40
60
80
100
120
140
160
180
200
220
240
260
280
300
320
340
360
380
400
420
440
460
480
500
520
540
560
580
600
620
640
660
680
700
720
740
760
780
800
820
840
860
880
900
920
940
960
980
1000
1020

In [21]:
df = pd.DataFrame(list(zip(titles, authors, dates, ranks)), columns =['Title', 'Author', 'Date', 'Rank'])

In [22]:
df['Year'] = pd.DatetimeIndex(df['Date']).year

In [24]:
df

,Title,Author,Date,Rank,Year
0,"""I GIVE YOU MY BODY ...""",Diana Gabaldon,2016-08-20,8,2016
1,"""MOST BLESSED OF THE PATRIARCHS""",Annette Gordon-Reed and Peter S Onuf,2016-04-16,16,2016
2,#ASKGARYVEE,Gary Vaynerchuk,2016-03-26,5,2016
3,#ASKGARYVEE,Gary Vaynerchuk,2016-03-12,6,2016
4,#GIRLBOSS,Sophia Amoruso,2016-02-27,8,2016
...,...,...,...,...,...
1015,A TALE OF WITCHCRAFT...,Chris Colfer,2020-10-31,7,2020
1016,A TALE OF WITCHCRAFT...,Chris Colfer,2020-10-24,4,2020
1017,A TALE OF WITCHCRAFT...,Chris Colfer,2020-10-17,3,2020
1018,A TALE OF WITCHCRAFT...,Chris Colfer,2020-10-10,3,2020
1019,A TALE OF WITCHCRAFT...,Chris Colfer,2020-10-03,1,2020

In [25]:
only_2019 = df.loc[df['Year'] == 2019]

In [26]:
only_2019

,Title,Author,Date,Rank,Year
10,#IMOMSOHARD,Kristin Hensley and Jen Smedley,2019-04-06,10,2019
41,108 STITCHES,Ron Darling with Daniel Paisner,2019-04-27,5,2019
110,21 LESSONS FOR THE 21ST CENTURY,Yuval Noah Harari,2019-12-07,15,2019
111,21 LESSONS FOR THE 21ST CENTURY,Yuval Noah Harari,2019-09-28,12,2019
112,21 LESSONS FOR THE 21ST CENTURY,Yuval Noah Harari,2019-09-21,10,2019
...,...,...,...,...,...
964,A SPARK OF LIGHT,Jodi Picoult,2019-10-05,8,2019
965,A SPARK OF LIGHT,Jodi Picoult,2019-09-28,8,2019
977,A STORM OF SWORDS,George RR Martin,2019-06-29,12,2019
978,A STORM OF SWORDS,George RR Martin,2019-06-01,6,2019
979,A STORM OF SWORDS,George RR Martin,2019-04-27,15,2019

In [27]:
saved = only_2019.to_csv('Output/nyt-api.csv', index=False)
saved